@import '../../../styles/colors.scss';

section {
    padding: 2em;

    &:not(:last-child) {
        border-bottom: 1px solid #dee2e6;
    }

    h2 {
        color: $primaryText;
        text-align: center;
    }

    .buttons {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;

        a {
            background-color: $generalBg;
            border: 2px solid $primaryColor;
            border-radius: 0.7em;
            color: $primaryColor;
            margin: 1em 0.5em;
            padding: 1em;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.5s ease, color 0.5s ease;

            &:hover {
                background-color: $primaryColor;
                color: $textColor;
            }
        }
    }
}