
$generalBg: #f7f7f7;
$succeedColor: #28a745;
$errorColor: #d73038;

// Material
$darkPrimaryColor: #1976D2;
$lightPrimaryColor: #BBDEFB;
$primaryColor: #2196F3;
$textColor: #FFFFFF;
$accentColor: #7C4DFF;
$primaryText: #212121;
$secondaryText: #757575;
$dividerColor: #BDBDBD;
