<div class="form">
    <input #eng type="text" placeholder="English" [(ngModel)]="form.eng" (keydown.enter)="save(eng.value, spa.value)">
    <input #spa type="text" placeholder="Spanish" [(ngModel)]="form.spa" (keydown.enter)="save(eng.value, spa.value)">
    <button (click)="save(eng.value, spa.value)">Guadar</button>
</div>
<div class="error" *ngIf="errorMessage != ''">
    <span>{{errorMessage}}</span>
</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>English</th>
            <th>Spanish</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let word of words">
            <td>{{word.id}}</td>
            <td>{{word.english}}</td>
            <td>{{word.spanish}}</td>
            <td>{{word.score}}</td>
        </tr>
    </tbody>
</table>
<div class="hide-url">
    <a href="https://docs.google.com/spreadsheets/d/1zCiDc-c-WoUgOwqOMsJt3GN8evmhojxp5ccY-vAnio0/edit#gid=0" target="_blank">Google sheet form</a>
</div>